h1 Hello! I am Sheng.
p After earning a Bachelor's degree in International Business, I pivoted to web development, starting with self-paced learning through The Odin Project, then honing my skills further at Next Academy's intensive bootcamp. Upon graduation, I was offered a position at Next Academy, where I have continued to expand my coding expertise and teaching skills.

p My professional experience also extends into the sales industry as a sales executive, a construction manager in the construction industry and web developer. I have also contributed to Speedbrick, a tech-forward company that empowers G7 construction companies to optimize their operations.

p Beyond my professional life, I stay engaged in my local community as a regular volunteer at the Residents' Association in my neighborhood in Malaysia. My hobbies are varied and include rollerskating and rollerblading, playing tennis, practicing the piano, 3D printing, indulging in cinema, and enriching my mind through reading.

p My thirst for knowledge has led me to pursue a Master's degree in Computer Science with a specialization in Artificial Intelligence in the UK. Currently, my interests lie at the intersection of web development and data science, and I am passionate about the opportunities at the nexus of these fields.